<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="item-detail-add-update (title, nav, link, script)">
<head>
  <meta charset="UTF-8">
  <!-- thymeleaf property start -->
  <link th:replace="${link}">
  <script th:replace=${script}></script>
  <!-- thymeleaf property end -->
  <!--/*-->
  <link rel="stylesheet" href="../../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../static/lib/common.css">
  <script src="../../../static/lib/jquery.min.js"
    th:src="@{/lib/jquery.min.js}" ></script>
  <script src="../../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
    th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
  <script src="../../../static/lib/common.js"></script>
  <!--*/-->
  <script th:inline="javascript">
    // $(window).load(function() {
    // $(document).ready(function() {
    window.onload = function() {
      let dmlType = /*[[${dmlType}]]*/  "no-data";
      if(dmlType === "C" || dmlType === "U") {
        $(".status-read").remove();
        // $("input[id='id']").prop('value', [[${item.id}]]);
        // $("input[id='name']").prop('value', [[${item.name}]]);
        // $("input[id='price']").prop('value', [[${item.price}]]);
        // $("input[id='quantity']").prop('value', [[${item.quantity}]]);
        // $("input[id='description']").prop('value', [[${item.description}]]);
      }
      if(dmlType === "R") {
        $(".status-register-edit").remove();
        $(".extra-types").prop("disabled", true);
        // $("input").prop("readonly", true);
        // $("textarea").prop("readonly", true);
      }
    };
  </script>
  <style>
    form div.row {
      margin: 1.0rem;
    }
  </style>
  <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">
    <a href="/item/list" class="btn btn-primary">목록으로</a>
    <div th:if="${param.status}" th:text="#{page.addComplete}" class="well well-lg"
      style="background-color: #e6ee9c;
             margin-top: 2rem; 
             font-size: 1.8rem; 
             font-weight: bold; 
             color: black; 
             text-shadow: white 0.2em 0.2em 0.2em;
             width: 30vw;
             ">
      <span class="glyphicon glyphicon-ok" style="margin-right: 3rem; "></span>
      상품 저장 완료 ! 
    </div>
    <hr>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-tags">&nbsp;&nbsp;</span>
        <span th:if="${dmlType} == 'C'" th:text="#{page.addItem}">상품 등록 / 상세 / 수정 </span>
        <span th:if="${dmlType} == 'R'" th:text="#{page.item}">상품 등록 / 상세 / 수정 </span>
        <span th:if="${dmlType} == 'U'" th:text="#{page.updateItem}">상품 등록 / 상세 / 수정 </span>
      </div>
      <div class="panel-body">

        <form th:action th:object="${item}" method="POST">

          <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
          </div>

          <div class="row">
            <div class="col-md-3" th:if="${dmlType} == 'R' or ${dmlType} == 'U'">
              <div class="panel panel-success" >
                <div class="panel-heading">
                  <label for="id" th:text="#{label.item.id}">상품ID</label>
                </div>
                <div class="panel-body">
                  <input type="text" class="form-control status-register-edit" th:field="*{id}" readonly>
                  <span class="status-read" th:text="${item.id}"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-success">
                  <div class="panel-heading">
                    <label for="name" th:text="#{label.item.name}">상품명</label>
                  </div>
                  <div class="panel-body">
                    <input type="text" class="form-control status-register-edit" th:field="*{name}" th:errorclass="field-error" placeholder="이름을 입력하세요">
                    <span class="status-read" th:text="${item.name}"></span>
                    <div class="field-error" th:errors="*{name}">
                      상품명 오류
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-success">
                  <div class="panel-heading">
                    <label for="price" th:text="#{label.item.price}">상품가격</label>
                  </div>
                  <div class="panel-body">
                    <input type="number" step="500" class="form-control status-register-edit" th:field="*{price}" th:errorclass="field-error" placeholder="가격을 입력하세요">
                    <span class="status-read" th:text="${item.price}"></span>
                    <div class="field-error" th:errors="*{price}">
                      상품가격 오류
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel panel-success">
                  <div class="panel-heading">
                    <label for="quantity" th:text="#{label.item.quantity}">재고수량</label>
                  </div>
                  <div class="panel-body">
                    <input type="number" step="100" class="form-control status-register-edit" th:field="*{quantity}" th:errorclass="field-error" placeholder="수량을 입력하세요">
                    <span class="status-read" th:text="${item.quantity}"></span>
                    <div class="field-error" th:errors="*{quantity}">
                      재고수량 오류
                    </div>
                  </div>
              </div>
            </div>
          </div>
  

          <div class="row">
            <div class="col-md-10">
              <div class="panel panel-success">
                  <div class="panel-heading">
                    <label for="description" th:text="#{label.item.description}">상품 설명</label>
                  </div>
                  <div class="panel-body">
                    <textarea class="form-control status-register-edit" th:field="*{description}" placeholder="설명을 입력하세요"></textarea>
                    <span class="status-read" th:utext="${item.description}"></span>
                  </div>
              </div>
            </div>
          </div>
  
          <hr style="border : solid 0.1rem pink">

          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-danger">
                <div class="panel-heading" th:text="#{label.item.open}">판매 여부</div>
                <div class="panel-body">
                  <input type="checkbox" class="form-check-input extra-types" th:field="*{open}" id="open">
                  <label for="open" class="form-check-label">판매 오픈</label>
                </div>
              </div>
            </div>  
            <div class="col-md-5">
              <div class="panel panel-danger">
                <div class="panel-heading" th:text="#{label.item.regions}">배송 가능 지역</div>
                <div class="panel-body">
                  <th:block th:each="region : ${regions}">
                    <input type="checkbox" class="form-check-input extra-types" th:field="*{regions}" th:value="${region.key}" th:errorclass="field-error">
                    <label th:for="${#ids.prev('regions')}" class="form-check-label" th:text="${region.value}" style="margin-right: 1rem;">서울</label>
                  </th:block>
                  <div class="field-error" th:errors="*{regions}">
                    배송 가능 지역 오류
                  </div>
                </div>
              </div>
            </div>  
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <div class="panel panel-danger">
                <div class="panel-heading" th:text="#{label.item.delivery}">배송 방식</div>
                <div class="panel-body">
                  <select th:field="*{deliveryCode}" class="form-select extra-types" th:errorclass="field-error">
                    <option value="">== 배송 방식 선택 ==</option>
                    <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}" th:text="${deliveryCode.displayName}">FAST</option>
                  </select>
                  <div class="field-error" th:errors="*{deliveryCode}">
                    배송 방식 오류
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="panel panel-danger">
                <div class="panel-heading" th:text="#{label.item.type}">상품 종류</div>
                <div class="panel-body">
                  <div class="row">
                    <th:block th:each="type : ${itemTypes}">
                      <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input extra-types" th:errorclass="field-error">
                      <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label" style="margin-right: 1rem;">노트북</label>
                    </th:block>
                    <div class="field-error" th:errors="*{itemType}">
                      상품 종류 오류
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          
          <div class="row" th:if="${dmlType} == 'R'" >
            <div class="col-sm-6">
              <a class="btn btn-warning" href="#" th:href="|/item/update/${item.id}|" th:text="#{button.to.update}">수정</a>
            </div>
            <div class="col-sm-6" style="text-align: right;">
              <a class="btn btn-danger" href="#" th:href="|/item/delete/${item.id}|" th:text="#{button.delete}">삭제</a>
            </div>
          </div>

          <div class="row" th:if="${dmlType} == 'U'">
            <button class="btn btn-warning" th:text="#{button.update}">수정하기</button>
          </div>

          <div class="row" th:if="${dmlType} == 'C'">
            <button class="btn btn-warning" th:text="#{button.save}">등록하기</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</body>
</html>