<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="log-in (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <!--/*-->
    <link rel="stylesheet" href="../../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/lib/common.css">
    <script src="../../../static/lib/jquery.min.js"
        th:src="@{/lib/jquery.min.js}" ></script>
    <script src="../../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
        th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script src="../../../static/lib/common.js"></script>
    <!--*/-->
    <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">

    <div class="row">

      <div class="col-sm-offset-2 col-sm-6">
        <form th:object="${member}" class="form-horizontal" action="#" th:action method="POST">
          
          <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
          </div>
          <label class="control-label" for="id">ID:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" th:field="*{id}" class="form-control" placeholder="Enter ID">
          </div>
          <label class="control-label" for="password">Password:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Enter password">
          </div>
          <div class="input-group" style="margin-top: 1rem;">
              <div class="checkbox" >
                <label><input type="checkbox" name="remember">Remember me</label>
              </div>
          </div>
          <div class="input-group" style="margin-top: 2rem;">
              <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</body>
</html>