<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="sign-up (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <!--/*-->
    <link rel="stylesheet" href="../../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/lib/common.css">
    <script src="../../../static/lib/jquery.min.js"
        th:src="@{/lib/jquery.min.js}" ></script>
    <script src="../../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
        th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script src="../../../static/lib/common.js"></script>
    <!--*/-->
    <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">

    <div class="row">

      <div class="col-sm-offset-2 col-sm-6">
        <form th:object="${memberSignUpForm}" action="#" th:action method="POST" class="form-horizontal">

          <div>Global Errors</div>
          <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
          </div>

          <div>Field Errors</div>
          <div>
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
            </ul>
          </div>

          <label class="control-label" for="id">ID:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" th:field="*{id}" class="form-control" placeholder="Enter ID" th:errorclass="field-error">
            <div class="field-error" th:errors="*{id}"></div>
          </div>
          <label class="control-label" for="password">Password:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Enter password">
          </div>
          <label class="control-label" for="passwordCheck">Password Check:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" th:field="*{passwordCheck}" class="form-control" placeholder="Enter password">
          </div>
          <label class="control-label" for="name">Name:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" th:field="*{name}" class="form-control" placeholder="Enter Name">
          </div>
          <div>
            <label class="control-label">Authorities:</label>
            <div th:each="auth : ${authorities}" class="form-check form-check-inline">
              <input type="radio" th:field="*{authority}" th:value="${auth.name()}" class="form-check-input">
              <label th:for="${#ids.prev('authority')}" th:text="${auth.name}" class="form-check-label">일반 사용자</label>
            </div>
          </div>
          <div class="input-group" style="margin-top: 2.5rem;">        
              <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>