<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="test-main (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <!--/*-->
    <link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/common.css">
    <script src="../../static/lib/jquery.min.js"
        th:src="@{/lib/jquery.min.js}" ></script>
    <script src="../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
        th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script src="../../static/lib/common.js"
        th:src="@{/static/lib/common.js}"></script>
    <!--*/-->
    <title th:replace="${title}">#</title>
    <style>
      .error-page a {
        display: block;
      }
    </style>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading">ERROR PAGE TEST</div>
          <div class="panel-body error-page">
            <a href="#" th:href="|@{/test/error-throw/400}|">400 에러</a>
            <a href="#" th:href="|@{/test/error-throw/404}|">404 에러</a>
            <a href="#" th:href="|@{/test/error-throw/500}|">500 에러</a>
            <a href="#" th:href="|@{/test/error-throw/runtime}|">런타임 에러</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul id="search-list" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</body>
</html>