<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="index (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <script th:inline="javascript">
      let items = [[${items}]];
    </script>
    <!--/*-->
    <link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/common.css">
    <script src="../../static/lib/jquery.min.js"
        th:src="@{/lib/jquery.min.js}" ></script>
    <script src="../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
        th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script src="../../static/lib/common.js"
        th:src="@{/static/lib/common.js}"></script>
    <script>
      let items = [{id: 1, name : "한성 노트북"}, {id: 2, name: "레노버 노트북"}, {id: 3, name: "엠스톤 키보드"}];
    </script>
    <!--*/-->
    <style>
      #search-list li:hover ,
      #search-list li.cursor {
        background-color: lightyellow;
      }
    </style>
    <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">
    <div class="jumbotron" style="margin-bottom: 4rem;">
      <h1>swcho's shop</h1>
      <p>swcho's mini scale shop. you can do shopping service. make happy time with shopping</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading">빠른 검색222</div>
          <div class="panel-body">
            <input type="text" class="form-control" id="fast-search">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul id="search-list" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</body>
</html>