<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="index (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <!--/*-->
    <link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/lib/common.css">
    <script th:replace="${script}" src="../../static/lib/jquery.min.js"></script>
    <script src="../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <!--*/-->
    <script th:inline="javascript">
      let items = [[${items}]];

      // let items = [{id: 1, name : "한성 노트북"}, {id: 2, name: "레노버 노트북"}, {id: 3, name: "엠스톤 키보드"}];
      
      $(function() {
        
          const MINIMUM_SEARCH_LENGTH = 2;
          const BACKSPACE_KEYCODE = 8;
          const ARROW_UP = 38;
          const ARROW_DOWN = 40;
          const ENTER = 13;

          let arrowFlag = false; // 마지막에 누른게 arrow인가
          let selectedNode;

          function checkNode(mode) {
            switch(mode) {
              case "first":
                selectedNode = $searchList.first();
                break;
              case "last":
                selectedNode = $searchList.last();
                break;
              case "next":
                selectedNode = selectedNode.next();
                break;
              case "prev":
                selectedNode = selectedNode.prev();
                break;
            }
            // e.preventDefault();
            $searchList.removeClass("cursor");
            selectedNode.addClass("cursor");
          };



          $("input#fast-search").keyup(function(e){

            $searchList = $("#search-list").children();

            // if(this.value.length >=2 ) debugger;

              if(e.keyCode === ENTER ) {
                // console.log(selectedNode.text());
                location.href = "/item/" + selectedNode.attr("id");
              }
              else if( (e.keyCode === ARROW_UP || e.keyCode === ARROW_DOWN )
                  && $("#search-list").children().length >= 1) {

                  // 직전에 움직이지 않았다면
                  if(arrowFlag === false) {
                      if(e.keyCode === ARROW_DOWN) {
                        checkNode("first");
                      }
                      else if(e.keyCode === ARROW_UP) {
                        checkNode("last");
                      }

                  } 
                  else { // 연속적인 선택
                      if(e.keyCode === ARROW_DOWN && (selectedNode.index() !== $searchList.last().index() ) ) {
                        checkNode("next");
                      }
                      else if(e.keyCode === ARROW_UP && (selectedNode.index() !== $searchList.first().index() ) ) {
                        checkNode("prev");
                      }
                  }
                  arrowFlag = true;
              }
              // 지울 때
              else if(this.value.length >= MINIMUM_SEARCH_LENGTH || e.keyCode ===  BACKSPACE_KEYCODE) {

                  $searchList.remove();

                  for(item of items) {
                      if(item["name"].includes(this.value)) {
                          $li = '<li class="list-group-item" id="' + item.id + '">' 
                            + item["name"]
                            + '&nbsp; &nbsp;'
                            + '<span class="glyphicon glyphicon-ok"></span>'
                            + '</li>';
                          $("#search-list").append($li);
                      }
                  }
                  arrowFlag = false;
              }
              else if(this.value === "") {
                $searchList.remove();
                arrowFlag = false;
              }

          });
      });
    </script>
    <style>
      #search-list li:hover ,
      #search-list li.cursor {
        background-color: lightyellow;
      }
    </style>
    <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container">
    <div class="jumbotron" style="margin-bottom: 4rem;">
      <h1>swcho's shop</h1>
      <p>swcho's mini scale shop. you can do shopping service. make happy time with shopping</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading">빠른 검색</div>
          <div class="panel-body">
            <input type="text" class="form-control" id="fast-search">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul id="search-list" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</body>
</html>