<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="item-detail (title, nav, link, script)">
<head>
  <meta charset="UTF-8">
  <!-- thymeleaf property start -->
  <link th:replace="${link}">
  <script th:replace=${script}></script>
  <!-- thymeleaf property end -->
  <link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/lib/common.css">
  <script src="../../static/lib/jquery.min.js"></script>
  <script src="../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <title th:replace="${title}">#</title>
</head>
<body>
  <nav th:replace="${nav}"></nav>
  <div class="container" th:fragment="item-detail">
    <a href="/list" class="btn btn-primary">목록으로</a>
    <hr>
    <div class="panel panel-warning">
      <div class="panel-heading"><span class="glyphicon glyphicon-tags">&nbsp;&nbsp;</span> 아이템 목록</div>
      <div class="panel-body">

          <div class="panel panel-success">
              <div class="panel-heading">상품명</div>
              <div class="panel-body">[[${item.name}]]</div>
          </div>

          <div class="panel panel-success">
              <div class="panel-heading">상품가격</div>
              <div class="panel-body">[[${item.price}]]</div>
          </div>

          <div class="panel panel-success">
              <div class="panel-heading">재고수량</div>
              <div class="panel-body">[[${item.quantity}]]</div>
          </div>

          <div class="panel panel-success">
              <div class="panel-heading">상품 설명</div>
              <div class="panel-body">[[${item.description}]]</div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <a href="#" th:href="|/update/${item.id}|" class="btn btn-warning">수정</a>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <a href="#" th:href="|/delete/${item.id}|" class="btn btn-danger">삭제</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>