<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="error-500 (title, nav, link, script)">
<head>
    <meta charset="UTF-8">
    <!-- thymeleaf property start -->
    <link th:replace="${link}">
    <script th:replace=${script}></script>
    <!-- thymeleaf property end -->
    <!--/*-->
    <link rel="stylesheet" href="../../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/lib/common.css">
    <script src="../../../static/lib/jquery.min.js"
        th:src="@{/lib/jquery.min.js}" ></script>
    <script src="../../../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"
        th:src="@{/lib/bootstrap-3.3.7-dist/js/bootstrap.js}" ></script>
    <script src="../../../static/lib/common.js"></script>
    <!--*/-->
    <title th:replace="${title}">#</title>
</head>
<body style="color: orangered">
  <nav th:replace="${nav}"></nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div style="font-size: 8rem; ">500</div></div>
      <div class="col-md-6">
        <div style="font-size: 4rem; padding-top: 1.5rem;">
          서버 에러
          <br>
          관리자에게 문의 주세요 !
        </div>
      </div>
    </div> <!--row-->
    <hr>
    <div class="row">
      <a href="#" th:href="|@{${previousPage}}|" class="btn btn-warning">홈으로 돌아가기</a>
    </div>
    <hr>
    <div class="row">
      <ul>
        <li style="font-size: 2rem;">오류 정보</li>
        <ul style="font-size: 2rem;" >
          <li th:text="|timestamp: ${timestamp}|"></li>
          <li th:text="|path: ${path}|"></li>
          <li th:text="|status: ${status}|"></li>
          <li th:text="|message: ${message}|"></li>
          <li th:text="|error: ${error}|"></li>
          <li th:text="|exception: ${exception}|"></li>
          <li th:text="|errors: ${errors}|"></li>
          <li th:text="|trace: ${trace}|"></li>
        </ul>
      </ul>
    </div>
</div> <!-- /container -->
</body>
</html>